#myCanvas{
    transition: ease 1s;
    margin-left: 300px;
    margin-top: 0px;
    align-self: right;
    
  }
#title{
  font-family: 'Mountains of Christmas', cursive;
  text-align: center;
}
#commandworld{
  margin-left: 10px;
  margin-bottom: 10px;

}
#chocolateNumber{
  font-size: 25pt;

}
#cardNumber{
  font-size: 15pt;

}
img{
  width: 100px;
}
#bag{
  transform: rotate(22.5deg);
}
body {
  overflow:hidden
}
